<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="LumiNet Evasion Node"
           Manufacturer="LumiNet Core Project"
           Version="1.0.0.0"
           UpgradeCode="12345678-1234-1234-1234-123456789abc">
    <MajorUpgrade DowngradeErrorMessage="A newer version of LumiNet is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="LumiNet">
        <Component Id="MainExecutable" Guid="87654321-4321-4321-4321-cba987654321">
          <File Source="luminet-server.exe" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="LumiNet Engine" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Package>
</Wix>
